/* =========================
   Grid Layout for Posts List
   ========================= */



.mainSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.button-modal{
  margin: 20px;
}
.postsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 per row */
  gap: 20px;
  padding: 20px;
}

/* Tablet */
@media (max-width: 768px) {
  .postsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 520px) {
  .postsWrapper {
    grid-template-columns: 1fr;
  }
}

/* =========================
   Single Post Card
   ========================= */
.post {
  width: 100%;
  display: flex;
}

.card {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: red; /* keeps bootstrap bg=danger */
}
/* Your custom class for inputs */
.inputOutline:focus {
  border-color: #ccc !important; /* optional border */
  outline: none !important; /* optional outline */
  box-shadow: none !important; /* changes Bootstrap glow */
  transition: border-color 0.2s, box-shadow 0.2s !important;
}